<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'imagen/serpienteMorada.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>DH Hotel Admin</title>
</head>
<body>
    <h2>Home principal</h2>
    <p>Este es el hotel DH</p>
    <p>¿HOLA?</p>
    <a href="{% url 'login' %}" class="btn">Iniciar sesión</a>
</body>
</html>
gi