@font-face {
    font-family: 'Coolvetica';
    src: url('../fonts/CoolveticaRgIt.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'The_Last_Shuriken';
    src: url('../fonts/The_Last_Shuriken.ttf') format('truetype');
  }
  