/* Gestion.css */
.container-Admin{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 15vh;
    margin-top: 20px;
}


.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 40px 20px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin: 0;
    color: black;
}

.table-container {
    margin-top: 20px;
    width: 100%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}
.table-container H2{
    font-size: 2rem;
    text-align: center;
}


.container-specific{
    display: flex;
    justify-content: center;
    height: 10vh;
    margin:20px;
}

.buttons-specific{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    width: 200px;
    justify-content: center;
    margin: 10px;
    color: black;
}

.form-group{
    width: 99%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: black;
    padding: 15px;

}

.input-form{
    background-color: transparent;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.buttons-create-room{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    width: 200px;
    justify-content: center;
    margin: 10px;
    color: black;
}