/* Gestion.css */
.container-Admin{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 15vh;
    margin-top: 20px;
}


.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 40px 20px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin: 0;
    color: black;
}

.table-container {
    margin-top: 20px;
    width: 100%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}
.table-container H2{
    font-size: 2rem;
    text-align: center;
}


.container-specific{
    display: flex;
    justify-content: center;
    height: 10vh;

}

.buttons-specific{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    width: 200px;
    justify-content: center;
    margin: 10px;
    color: black;
}

.form-group{
    width: 99%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: black;
    padding: 15px;

}

.input-form{
    background-color: transparent;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.buttons-create-room{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    width: 200px;
    justify-content: center;
    margin: 10px;
    color: black;
}

/*##################*/
/* Popup de errores*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
  }
  
  .modal h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #e74c3c;
  }
  
  .modal p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #333;
  }
  
  .modal-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-button:hover {
    background-color: #c0392b;
  }
  

  /*POPUP DELETE*/

  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color:black;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  
  .popup-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-buttons button:first-child {
    background-color: #ff4d4d;
    color: white;
  }
  
  .popup-buttons button:last-child {
    background-color: #ccc;
    color: black;
  }
  

  .status-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
  }
  